yarl==1.18.3
nvidia-cublas-cu11==11.11.3.6
attrs==25.1.0
sentencepiece==0.2.0
click==8.1.8
psutil==7.0.0
tzdata==2025.1
datasets==3.3.2
nvidia-nccl-cu11==2.21.5
wheel==0.45.1
scipy==1.15.2
safetensors==0.5.3
sacrebleu==2.5.1
sentry-sdk==2.22.0
fsspec==2024.6.1
sqlitedict==2.1.0
typing_extensions==4.12.2
charset-normalizer==3.4.1
tcolorpy==0.1.7
pytz==2025.1
msgpack==1.1.0
regex==2024.11.6
httpcore==1.0.9
aiosignal==1.3.2
openai==1.81.0
scikit-learn==1.6.1
six==1.17.0
pillow==11.0.0
jiter==0.10.0
Jinja2==3.1.4
tabledata==1.3.4
pydantic_core==2.27.2
loguru==0.7.3
fonttools==4.56.0
gitdb==4.0.12
aiohappyeyeballs==2.5.0
certifi==2025.1.31
torchaudio==2.6.0+cu118
py-cpuinfo==9.0.0
mpmath==1.3.0
pathvalidate==3.2.3
ninja==1.11.1.3
tokenizers==0.21.0
protobuf==5.29.3
h11==0.16.0
packaging==24.2
frozenlist==1.5.0
setproctitle==1.3.5
DataProperty==1.1.0
xxhash==3.5.0
hf_transfer==0.1.9
tenacity==9.0.0
huggingface-hub==0.29.1
sympy==1.13.1
cycler==0.12.1
requests==2.32.3
et_xmlfile==2.0.0
portalocker==3.1.1
pip==25.0
docker-pycreds==0.4.0
anyio==4.9.0
pandas==2.2.3
accelerate==1.4.0
platformdirs==4.3.6
matplotlib==3.10.1
evaluate==0.4.3
nvidia-nvtx-cu11==11.8.86
sniffio==1.3.1
pyarrow==19.0.1
filelock==3.13.1
nvidia-curand-cu11==10.3.0.86
pytablewriter==1.2.1
distro==1.9.0
s2wrapper==0.1
dill==0.3.8
faiss-cpu==1.10.0
propcache==0.3.0
pydantic==2.10.6
nvidia-ml-py==12.570.86
einops==0.8.1
mbstrdecoder==1.1.4
threadpoolctl==3.5.0
MarkupSafe==3.0.2
joblib==1.4.2
multiprocess==0.70.16
transformers==4.49.0
tqdm==4.67.1
python-dateutil==2.9.0.post0
nvidia-cuda-nvrtc-cu11==11.8.89
GitPython==3.1.44
torch==2.6.0+cu118
nvidia-cusparse-cu11==11.7.5.86
nvidia-cufft-cu11==10.9.0.58
openpyxl==3.1.5
numpy==2.1.2
hjson==3.1.0
nvidia-cuda-cupti-cu11==11.8.87
ujson==5.10.0
lxml==5.3.1
idna==3.10
nvidia-cusolver-cu11==11.4.1.48
triton==3.2.0
typepy==1.3.4
peft==0.14.0
torchvision==0.21.0+cu118
setuptools==75.8.0
tabulate==0.9.0
networkx==3.3
wandb==0.19.8
nvidia-cudnn-cu11==9.1.0.70
multidict==6.1.0
annotated-types==0.7.0
nvidia-cuda-runtime-cu11==11.8.89
pyparsing==3.2.1
httpx==0.28.1
kiwisolver==1.4.8
chardet==5.2.0
PyYAML==6.0.2
deepspeed==0.16.4
smmap==5.0.2
colorama==0.4.6
contourpy==1.3.1
urllib3==2.3.0
aiohttp==3.11.13
typeguard==4.3.0
typing_extensions==4.12.2
jaraco.functools==4.0.1
platformdirs==4.2.2
packaging==24.2
jaraco.text==3.12.1
jaraco.context==5.3.0
importlib_metadata==8.0.0
tomli==2.0.1
more-itertools==10.3.0
backports.tarfile==1.2.0
inflect==7.3.1
autocommand==2.2.2
jaraco.collections==5.1.0
zipp==3.19.2
wheel==0.43.0
